/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full height of the viewport */
  position: relative; /* Needed for the fixed video */
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: hsl(0, 0%, 0%); /* Fallback color for browsers that don't support video */
  transition: 0.5s;
}

/* Styling the background video */
#bg-video {
  position: fixed; /* Fix the video in place */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Ensure the video covers the entire screen */
  z-index: -1; 
  opacity: 0.5;
}


